body {
    background-color: #d6d6d6 !important;
}

.title {
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
}

.text-center {
    text-align: center;
}

a:link{
    text-decoration: none;
}

.seller-page {
    margin-left: 16px;
}

.mb-3 .form-control {
    width: 80%;
}

.mb-3 .form-select {
    width: 80%;
}

.add-success {
    color: green;
}

.link-btn-action {
    color: white !important;
}